In [1]:
import os

# Get the current working directory
current_dir = os.getcwd()

# If the current directory is not the root folder, change it to the root folder
if current_dir.endswith('/src/model'):
    os.chdir('../../')

import pandas as pd

from constants import DATA_INTERIM_PATH, DATA_FINAL_PATH, MODEL_PATH

In [2]:
# Example of using the constants
print("Interim data path:", DATA_INTERIM_PATH)
print("Final data path:", DATA_FINAL_PATH)
print("Model path:", MODEL_PATH)

Interim data path: ./data/1.interim/
Final data path: ./data/2.processed/
Model path: ./model/

In [3]:
os.getcwd()

'/home/dimi/BeCode/imdb-classifier-with-deployment'

In [4]:
 DATA_INTERIM_PATH

'./data/1.interim/'

In [7]:
from src.data.data_loader import load_csv_data

# Load data from a CSV file in the final data folder
df = load_csv_data("cleaned_data.csv",is_final_data=False)

In [18]:
df

,original_title,genre_list,overview
0,Toy Story,"['Animation', 'Comedy', 'Family']","Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,"['Romance', 'Comedy']",A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']","Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,['Comedy'],Just when George Banks has recovered from his ...
...,...,...,...
44367,رگ خواب,"['Drama', 'Family']",Rising and falling between a man and woman.
44368,Siglo ng Pagluluwal,['Drama'],An artist struggles to finish his work while a...
44369,Betrayal,"['Action', 'Drama', 'Thriller']","When one of her hits goes wrong, a professiona..."
44370,Satana likuyushchiy,[],"In a small town live two brothers, one a minis..."
44371,Queerama,[],50 years after decriminalisation of homosexual...

In [26]:
df['genre_list'].iloc[-1]=='[]'

True

In [29]:
filtered_df = df.loc[df['genre_list']!="[]"]

In [30]:
filtered_df

,original_title,genre_list,overview
0,Toy Story,"['Animation', 'Comedy', 'Family']","Led by Woody, Andy's toys live happily in his ..."
1,Jumanji,"['Adventure', 'Fantasy', 'Family']",When siblings Judy and Peter discover an encha...
2,Grumpier Old Men,"['Romance', 'Comedy']",A family wedding reignites the ancient feud be...
3,Waiting to Exhale,"['Comedy', 'Drama', 'Romance']","Cheated on, mistreated and stepped on, the wom..."
4,Father of the Bride Part II,['Comedy'],Just when George Banks has recovered from his ...
...,...,...,...
44365,Caged Heat 3000,['Science Fiction'],It's the year 3000 AD. The world's most danger...
44366,Robin Hood,"['Drama', 'Action', 'Romance']","Yet another version of the classic epic, with ..."
44367,رگ خواب,"['Drama', 'Family']",Rising and falling between a man and woman.
44368,Siglo ng Pagluluwal,['Drama'],An artist struggles to finish his work while a...
44369,Betrayal,"['Action', 'Drama', 'Thriller']","When one of her hits goes wrong, a professiona..."

In [31]:
#save to DATA_INTERIM_PATH as cleaned_data.csv
file_name = "cleaned_data.csv"
file_path = os.path.join(DATA_INTERIM_PATH, file_name)
df.to_csv(file_path, index=False)

print(f"DataFrame saved as '{file_name}' in the '{DATA_INTERIM_PATH}' folder.")

DataFrame saved as 'cleaned_data.csv' in the './data/1.interim/' folder.